:root {
    --sage: #B2AC88;
    --light-grey: #57534e;
    --white: #ebebeb;
}

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

#content {
    display: grid;
    grid-template: clamp(60px, 15vh, 300px) 1fr / 3fr 1fr;
    width: 100%;
    height: 100%;
}

.header-container {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--light-grey);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: min(2vw, 5px);
    padding-left: 2%;
}

.header-container svg {
    color: var(--white);
}

.header-container div {
    font-size: 3vmax;
    color: var(--white);
}

.tasks-container {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #ddd;
    padding: 4% 8% 0px 8%;
}

.tasks-title {
    color: #222;
    font-size: 1.8vmax;
}

.task-list {
    margin: 2% 8% 0px 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.row {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: min(50vw, 800px);
    border-bottom: solid 1px #555;
    gap: 5px;
    padding-bottom: 0.5vmax;
}

.row-left, .row-right {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 0.6vw;
}

.task, #new-task div, input[name="title"] {
    font-size: 1.1vmax;
}

.task-title {
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.task-title-container {
    display: flex;
    align-items: center;
    gap: 0.4vw;
}

.low {
    color: #ffa701;
}

.medium {
    color: #ff4500;
}

.high {
    color: #e60000;
}

.task-notes, .task-date, input[name="notes"], input[name="date"], select {
    font-size: 0.9vmax;
    color: #555;
}

.priority {
    color: #555;
    font-size: 1vmax;
}

.task-notes, input[name="date"] {
    font-size: 0.8vmax;
}

#date {
    width: fit-content;
}

.task-title div:last-child {
    display: flex;
}

.row > div > img {
    height: 1vmax;
}

#new-task, #new-project {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    width: fit-content;
    cursor: pointer;
}

#new-project {
    margin: 6% 0px 0px 2%;
    font-size: 1.5vmax;
}

#new-project img, #new-task img {
    height: 1.3vmax;
}

#new-task {
    margin: 5vh 0px 0px 1%;
}

.sidebar-container {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--sage);
    display: flex;
    flex-direction: column;
    padding: 4% 2% 0px 6%;
    font-size: 2vmax;
    color: var(--white);
}

.projects-title {
    margin-top: 4vh;
    border-bottom: 3px solid var(--white);
    width: min-content;
}

#completed {
    margin-top: 4vh;
    border-bottom: 3px solid var(--white);
    width: fit-content;
}

.projects-list {
    font-size: 1.5vmax;
    margin: 2% 0px 0px 4%;
    
}

.input-project {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    height: 2.5vmax;
}

.input-project-right {
    display: flex;
    gap: 3px;
    align-items: flex-end;
}

#add-project-button, #cancel-add-project {
    height: 1.5vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    width: 1.5vmax;
}

.input-project .input-container {
    width: 14vw;
    display: flex;
    align-items: center;
}


#add-project-button img , #cancel-add-project img {
    height: 0.7vmax;
}


#project {
    border-radius: 5px;
    padding: 2% 2% 2% 4%;
    height: 3vh;
}

form .row-left, form .task, input{
    width: 100%;
}

.input-container input, select {
    background-color: #ddd;
    border: none;
    appearance: none;
}

input:focus, select {
    outline-width: 0;
}

.priority {
    display: flex;
    gap: 5px;
}


#add-task-button, #cancel-add-task {
    width: 4vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}

#add-task-button, #add-project-button {
    background-color: #00ab66;
}

#cancel-add-task, #cancel-add-project {
    background-color: #cf142b;
}

#add-task-button img, #cancel-add-task img {
    height: 1vmax;
}

.out {
    -webkit-animation: fadeout 3s; 
    -moz-animation: fadeout 3s; 
    -ms-animation: fadeout 3s;
    -o-animation: fadeout 3s;
    animation: fadeout 3s;
}

.project {
    display: flex;
    gap: 1vmax;
    align-items: center;
    width: 90%;
}

.project-right img {
    height: 1.2vmax;
}

.project-left img  {
    height: 1.4vmax;
}

.project > div > img, #new-project img  {
    filter: invert(99%) sepia(4%) saturate(1529%) hue-rotate(227deg) brightness(116%) contrast(84%);
}

.project-left, .project-right {
    display: flex;
    align-items: center;
}

.project-left {
    gap: 0.3vmax;
}

.project-title {
    min-width: fit-content;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}